<section class="hero is-fullheight">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
            <p class="control has-addons nav-item">
              <input class="input" type="text" placeholder="Owner"
                  [ngModel]="github.owner" (ngModelChange)="github.owner=$event">

              <a class="button is-disabled">/</a>

              <input class="input" type="text" placeholder="Repository"
                  [ngModel]="github.repo" (ngModelChange)="github.repo=$event">
                  
              <a class="button" [class.is-disabled]="github.isInvalid()"
                  [routerLink]="['/project', github.owner, github.repo]">Reload</a>
            </p>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        
        <div class="column is-three-quarters file">
          <router-outlet></router-outlet>
        </div>

        <div class="column files">
          <aside class="menu">
            <p class="menu-label">Files</p>
            <ul class="menu-list">
              <li *ngFor="let filename of filenames">
                <a [routerLink]="['/project', github.owner, github.repo, filename]"
                  routerLinkActive="is-active">{{filename}}</a>
              </li>
            </ul>
          </aside>
        </div>

      </div>
    </div>
  </div>
</section>
