<p class="control has-addons has-text-centered">
  <a class="button is-large is-expanded" (click)="prevCommit()">< Previous commit</a>
  <a class="button is-large is-expanded" (click)="nextCommit()">Next commit ></a>
</p>

<div class="tile is-parent">
  <div class="tile is-child box">
    <p class="title">
      <span class="icon"><i class="fa fa-file-code-o"></i></span>
      {{filename | filename}}
      <span class="subtitle" *ngIf="commits[filename]">({{commits[filename][index]}})</span>
    </p>
    <pre>{{text}}</pre>
  </div>
</div>